.wrapper {
  column-count: 3;
  width: 98.5%;

}

.columnOne, .columnTwo, .columnThree {
  width: 98%;
  padding: 0 2%;
}

#image {
  width: 98%;
  height: 400px;
  padding: 2%;
}

#star {
  padding-top: 2%;
  width: 20%;
}

#review {
  display: flex;
  padding-bottom: 5%;

}

#details {
  padding: 2%;
}

#profile {
  width: 20%;
  padding-top: 0;
  border-radius: 50%;
  padding-right: 0;
  margin-right: 0;
}

#name {
  font-size: 1.2em;
  float: left;
  width: 100%;
  padding-left: 4%;
  padding-top: 6%;
  padding-bottom: 3%;
  margin: 0;

}

#location {
  font-size: 1em;
  font-weight: 200;
  text-align: left;
  flex-direction: row;
  padding-left: 4%;
  padding-top: 5%;

}
